<footer class="footer">
    <div class="columns">
        <div class="column is-half is-multiline">
            <h5 class="title is-5">진료시간</h5>
            <table class="table table-cell-border 0">
                <tr>
                    <td>월 - 금 </td>
                    <td>오전 09:00 - 오후 06:30</td>
                </tr>
                <tr>
                    <td>점심시간</td>
                    <td>오후 01:00 - 오후 02:00</td>
                </tr>
                <tr>
                    <td>토 요 일</td>
                    <td>오전 09:00 - 오후 02:00 <br>(점심시간 없음)</td>
                </tr>
                <tr>
                    <td>일요일 / 공휴일</td>
                    <td>휴 진</td>
                </tr>
            </table>
        </div>
        <div class="column is-half is-multiline">
            <h5 class="title is-5">진 이비인후과</h5>
            <ul>
                <li>
                    <i class="fas fa-phone"></i> 
                    <a href="tel:+0325615552">
                    032 - 561 - 5552
                </a>
                </li>
                <li>
                    
                    <i class="fas fa-map-marked-alt"></i> 
                    <a href="http://naver.me/GDcwTpzB" target ="_blank">
                        인천 서구 청라커낼로 288번길 10<br>
                        더스페이스타워 4층</a>
                </li>
            </ul>
            
            </p>
            <!-- <i class="far fa-envelope"></i> -->

        </div>
    </div>
    <div class="content has-text-centered">
        <p>
            Copyright &copy; 2019 JeanEnt. All Rights Reserved</a>.
        </p>
    </div>
</footer>