<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <img src="static/img/logo.svg" alt="site-log" width="250" height="30">
    <a href="#" class="navbar-burger" id="burger">
      <span></span>
      <span></span>
      <span></span>

    </a>
  </div>

  <div class="navbar-menu" id="nav-links">
    <div class="navbar-end">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item">News</a>
    </div>

  </div>
  <script src="static/js/navbar.js"></script>
</nav>